
.form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 50%;
    gap:2em;
    padding:10px;
    border:1px solid gray;
    margin:2em;

}

.form input{
    width: 300px;
}

.form button{
    width:100px;
}